body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .signup-container {
    height: 100vh;
    background: linear-gradient(135deg, #00a8cc, #005377);
  }
  
  .signup-box {
    width: 400px;
    background-color: #1e293b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
  }
  
  .signup-box h2 {
    color: #00d1ff;
  }
  
  .input-group-text {
    background-color: #374151;
    border: none;
    color: #9ca3af;
  }
  
  .form-control {
    background-color: #374151;
    border: none;
    color: #ffffff;
  }
  
  a {
    color: #9ca3af;
  }
  
  a:hover {
    color: #00d1ff;
    text-decoration: underline;
  }
  
  .btn-primary {
    background-color: #00d1ff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #00a8cc;
  }

  .emoji-person {
    color: royalblue    ;
}
.fa-eye{
color: royalblue;
}

.fa-envelope{
    color: royalblue;
}

.fa-cake-candles{
    color: royalblue;
}

  